.Header {
  background-color: lightgrey;
  border-style: double;
  border-color: brown;
}

.headerText {
  color: #006a51;
  text-align: center;
  margin-top: 5px;
  padding-top:15px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}
